extends ../layouts/default.jade

block content

    section#intro.slide
        .intro-body
            img.hidden-img-intro(src="../img/intro.jpg")
            //- .col-md-8.col-md-offset-2
            //-     h1.brand-heading Guake Terminal
            //-     p.intro-text
            //-         p Advanced Top-Down Terminal for the GNOME Desktop
            //-     .page-scroll
            //-         a.btn.btn-circle(href='#info1')
            //-             i.fa.fa-angle-double-down.animated

    section#info1.slide
        .col-lg-8.col-lg-offset-2

            h1.animate-in(data-animation="space-in")
                | What is Guake?

            p.animate-build(data-animation="fade-in" data-build="1")
                | Guake is a top-down terminal for Gnome, and is highly inspirated by the famous
                | terminal used in Quake <i class="glyphicon glyphicon-copyright-mark"></i>.

            p.animate-build(data-animation="fade-in" data-build="2")
                | You instantenously show and hide your terminal with a single key stroke,
                | execute a command, and then go back to your previous task without breaking your
                | workflow.

            .page-scroll.animate-build(data-animation="fade-in" data-build="3")
                a.btn.btn-circle(href='#info2')
                    i.fa.fa-angle-double-down.animated


    section#info2.slide
        .col-lg-8.col-lg-offset-2

            h1.animate-in(data-animation="space-in" data-build="1")
                | How does Guake look like?

        .col-lg-8.col-lg-offset-2
            .row.animate-build(data-animation="fade-in" data-build="2")
                .col-lg-6
                    p.screenshot-legend
                        | Your Terminal Anywhere On Your Desktop, Just A Shortcut Away!

                    p.screenshot-description
                        | Guake appears automatically when you press your magic shortcut. It restores
                        | the focus to your application immediately when your repress this shortcut.

                .col-lg-6
                    img.img-screenshot(src="img/screenshot-main.gif")

            .page-scroll.animate-build(data-animation="fade-in" data-build="3")
                a.btn.btn-circle(href='#info3')
                    i.fa.fa-angle-double-down.animated


    section#info3.slide
        .col-lg-8.col-lg-offset-2

            h1.animate-in(data-animation="space-in" data-build="1")
                | How can I get Guake?

            p.animate-build(data-animation="fade-in" data-build="2")
                | Guake is packaged by a large number of distributions, among which are Fedora,
                | Debian, Ubuntu and ArchLinux, so please check your repo. Source tarballs are
                | available; see the <a href="https://github.com/Guake/guake/releases">Release
                | page</a>.

            p.animate-build(data-animation="fade-in" data-build="3")
                | You can also checkout directly the course code from the
                | git repository. Please check it<i.fa.fa-github>
                | <a href="https://github.com/Guake/guake">at the Github page</a>

            p.animate-build(data-animation="fade-in" data-build="4")
                | No software is perfect. To file a bug report, use
                | <a href="https://github.com/Guake/guake/issues">the Issues
                | page of the GitHub project</a>.

            .page-scroll.animate-build(data-animation="fade-in" data-build="5")
                a.btn.btn-circle(href='#info4')
                    i.fa.fa-angle-double-down.animated


    section#screenshots.slide
        .col-lg-8.col-lg-offset-2

            h1.animate-in(data-animation="space-in" data-build="1")
                | See Guake in Action

            //- <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
            .animate-build(data-animation="fade-in" data-build="2")
                #blueimp-image-carousel.blueimp-gallery.blueimp-gallery-carousel
                    .slides
                    h3.title
                    a.prev
                    a.next
                    a.play-pause

                //- #links
                //-     a(href="img/screenshot-main.gif" title="Banana")
                //-         img(src="img/screenshot-main.gif" alt="Banana")
                //-     a(href="img/screenshot-main.gif" title="Banana")
                //-         img(src="img/screenshot-main.gif" alt="Banana")
                //-     a(href="img/screenshot-main.gif" title="Banana")
                //-         img(src="img/screenshot-main.gif" alt="Banana")

            .page-scroll.animate-build(data-animation="fade-in" data-build="2")
                a.btn.btn-circle(href='#sources')
                    i.fa.fa-angle-double-down.animated

    section#sources.slide
            .download-section
                .container
                    .col-lg-8.col-lg-offset-2
                        h1 Compile Guake from sources
                        p
                            | General information on how to compile guake can be found in the
                            | <a href="https://github.com/Guake/guake/blob/master/INSTALL">INSTALL</a>
                            | file.

                        ul.list-inline.banner-social-buttons
                            li
                                a.btn.btn-default.btn-lg(href='https://github.com/Guake/guake/')
                                    i.fa.fa-github.fa-fw
                                    span.network-name
                                        | Visit the Github project page

            .page-scroll
                a.btn.btn-circle(href='#intro')
                    i.fa.fa-angle-double-up.animated
