extends ../layouts/default.jade

block content

    section#intro.slide
        .intro-body
            img.hidden-img-intro(src="img/intro.jpg")
            //- .col-md-8.col-md-offset-2
            //-     h1.brand-heading Guake Terminal
            //-     p.intro-text
            //-         p Advanced Top-Down Terminal for the GNOME Desktop
            //-     .page-scroll
            //-         a.btn.btn-circle(href='#what')
            //-             i.fa.fa-angle-double-down.animated

    #overview-carousel.carousel.slide(data-ride="carousel" data-interval="3000")
        //- <!-- Indicators -->
        ol.carousel-indicators
            li.active(data-target="#overview-carousel" data-slide-to="0")
            li(data-target="#overview-carousel" data-slide-to="1")
            li(data-target="#overview-carousel" data-slide-to="2")

        //- <!-- Wrapper for slides -->
        .carousel-inner
            .item.active(role="listbox")
                //- img(src="http://placehold.it/1200x315" alt="...")
                //- .carousel-caption
                .carousel-content
                    h3 The Developer's Best Friend
                    p Instantaneously execute any command
            .item(role="listbox")
                //- img(src="http://placehold.it/1200x315" alt="...")
                .carousel-content
                    h3 Simple and Elegant
                    p Guake has just the features you need
            .item(role="listbox")
                .carousel-content
                    h3 Direct Access to Any Console
                    p Switch back and forth between your contexts

        //- <!-- Controls -->
        a.left.carousel-control(href="#overview-carousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href="#overview-carousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right

    section#what.slide
        .container
            .row
                .col-lg-8.col-lg-offset-2

                    h1.animate-in(data-animation="space-in")
                        | Discover Guake Terminal

                    p.animate-build(data-animation="fade-in" data-build="1")
                        | Guake is a top-down terminal for Gnome, and is highly inspirated by the famous
                        | terminal used in Quake <i class="glyphicon glyphicon-copyright-mark"></i>.

                    p.animate-build(data-animation="fade-in" data-build="2")
                        | You can instantaneously show and hide your terminal with a single key
                        | stroke, execute a command, and then go back to your previous task
                        | without breaking your workflow.
            .row
                .page-scroll.animate-build(data-animation="fade-in" data-build="3")
                    #what-hook
                    a.btn.btn-circle(href='#firstlook')
                        i.fa.fa-angle-double-down.animated

    section#firstlook.slide
        .container
            .row
                .col-lg-8.col-lg-offset-2

                    h1.animate-in(data-animation="space-in" data-build="1")
                        | What does Guake look like?

            .row
                .col-md-12.col-xs-8.col-xs-offset-2.col-md-offset-0
                    .row.animate-build(data-animation="fade-in" data-build="2")
                        .col-xs-12.col-md-offset-1.col-md-5
                            p.screenshot-legend
                                | Your Terminal Anywhere On Your Desktop, Just A Shortcut Away!

                            p.screenshot-description
                                | Imagine you are working in your favorite text editor and want to
                                | execute some commands, like execute the unit test of your code,
                                | check a man page, or edit some configuration file. You can do it
                                | at lightning speed without leaving your keyboard. Just press your
                                | predefined "Show Guake" hotkey, execute your command, and repress
                                | it to hide the terminal and go back to your work.

                        .col-xs-12.col-md-5
                            a.screenshot-link(href="img/screenshot.png")
                               img(src="img/screenshot-tb.png")
                            br
                            a.screenshot-link(href="img/screenshot2.jpg")
                               img(src="img/screenshot2-tb.jpg")

            .row
                .page-scroll.animate-build(data-animation="fade-in" data-build="3")
                    #firstlook-hook
                    a.btn.btn-circle(href='#more')
                        i.fa.fa-angle-double-down.animated

    section#more.slide
        .container
            .row
                .col-xs-12
                    h1.animate-in(data-animation="space-in" data-build="1")#scale-animation
                        | Tell me More!
            .row.feature-list
                .col-xs-12.col-sm-4
                    h3 Simple Easy, Elegant
                    p
                        | Smooth integration of the terminal into the GNOME environment, with
                        | Compiz Transparency and show animation.

                .col-xs-12.col-sm-4
                    h3 Multi-monitor
                    p
                        | Guake supports Multimonitor setup. Open it on the monitor where your
                        | mouse is, or in a dedicated screen.

                .col-xs-12.col-sm-4
                    h3 Multiple Tabs
                    p
                        | Use Several named tabs, with names automatically set from the running
                        | command, or easily customized.
                    p
                        | Get instant access to your tabs with custom shortcut.

            .row.feature-list
                .col-xs-12.col-sm-4
                    h3 Quick Open
                    p
                        | See a filename in your terminal output? Simply click on it and it will be
                        | opened directly in your favorite Text Editor. It can even be scroll at
                        | the very specific line and column if your editor support it!

                .col-xs-12.col-sm-4
                    h3 Autoconfigure Guake
                    p
                        | Start Guake automatically at login, and define a script that will be
                        | executed on Guake launch, in order to configure Guake tabs.
                    p
                        | This is temporary solution waiting for the
                        | <a href="https://github.com/Guake/guake/issues/114">save session feature</a>.

                .col-xs-12.col-sm-4
                    h3 Plenty of Color palettes
                    p
                        | More than 130 predefined palettes are provided! You can easily visualize
                        | them prior to choosing the color that is best for you.

            .row
                .page-scroll.animate-build(data-animation="fade-in" data-build="11")
                    #more-hook
                    a.btn.btn-circle(href='#sources')
                        i.fa.fa-angle-double-down.animated

     //- section#screenshots.slide
     //-     .container
     //-        .row
     //-            .col-lg-8.col-lg-offset-2
     //-                h1.animate-in(data-animation="space-in" data-build="1")
     //-                    | See Guake in Action
     //-                .animate-build(data-animation="fade-in" data-build="2")
     //-                    #blueimp-gallery.blueimp-gallery.blueimp-gallery-carousel
     //-                        .slides
     //-                        h3.title
     //-                        a.prev
     //-                        a.next
     //-                        a.play-pause
     //-                        ol.indicator
     //-                    #links.links
     //-                        a(href="http://farm6.static.flickr.com/5101/13539971585_6c655628e5_b.jpg" title="La finestra" type="image/jpeg" data-gallery="")
     //-                        a(href="img/screenshot.png" title="Banana" type="image/jpeg" data-gallery)
     //-                        a(href="img/screenshot.png" title="Banana" type="image/jpeg" data-gallery)
     //-                        a(href="img/screenshot.png" title="Banana" type="image/jpeg" data-gallery)

     //-        .row
     //-            .page-scroll.animate-build(data-animation="fade-in" data-build="2")
     //-                #screenshot-hook
     //-                a.btn.btn-circle(href='#sources')
     //-                    i.fa.fa-angle-double-down.animated

    section#sources.slide
        .download-section
            .container
                .col-lg-8.col-lg-offset-2
                    h1.animate-in(data-animation="space-in" data-build="1")
                        | How can I get Guake?

                    p.animate-build(data-animation="fade-in" data-build="2")
                        | Guake is packaged by a large number of distributions, among which are Fedora,
                        | Debian, Ubuntu and ArchLinux, so please check your repo. Source tarballs are
                        | available; see the <a href="https://github.com/Guake/guake/releases">Release
                        | page</a>.

                    p.animate-build(data-animation="fade-in" data-build="3")
                        | You can also checkout directly the source code from the
                        | git repository. Please check it<i.fa.fa-github>
                        | <a href="https://github.com/Guake/guake">at the Github page</a>

                    p.animate-build(data-animation="fade-in" data-build="4")
                        | No software is perfect. To file a bug report, use
                        | <a href="https://github.com/Guake/guake/issues">the Issues
                        | page of the GitHub project</a>.

                    p.animate-build(data-animation="fade-in" data-build="5")
                        | General information on how to compile guake can be found in the
                        | <a href="https://github.com/Guake/guake/blob/master/README.rst">
                        | README.rst</a> file.

                    h1.animate-in(data-animation="space-in" data-build="6")
                        | Can I contribute?

                    p.animate-build(data-animation="fade-in" data-build="6")
                        | Want a feature for Guake? Contributions are welcome! Guake is mainly
                        | developed in the Python language, and uses the GTK-2 binding.
                        | Don't hesitate to submit your Pull Request!

                    ul.list-inline.banner-social-buttons
                        li
                            a.btn.btn-default.btn-lg(href='https://github.com/Guake/guake/')
                                i.fa.fa-github.fa-fw
                                span.network-name
                                    | Visit the Github project page
     section#about.slide
        .download-section
            .container
                .col-lg-8.col-lg-offset-2
                    h1.animate-in(data-animation="space-in" data-build="1")
                        | About the Guake Project

                    p.animate-build(data-animation="fade-in" data-build="2")
                        | Guake was originally written by Gabriel Falcão in 2007, and has since become
                        | a vibrant open source project with <a href="https://github.com/Guake/guake/g
			| raphs/contributors">many contributors</a>.

        .page-scroll
            #sources-hook
            a.btn.btn-circle(href='#top')
                i.fa.fa-angle-double-up.animated
