@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 400;
  src: local('Corben Regular'), local('Corben-Regular'), url(http://fonts.gstatic.com/s/corben/v8/aTjzBnce-6l9sMpae8_abg.woff) format('woff');
}
@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: local('Corben'), url(http://fonts.gstatic.com/s/corben/v8/ljkAb4w-83fUltRn9aENdT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
