nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                i.fa.fa-bars
            a.navbar-brand(href='#page-top')
                i.fa.fa-desktop
                span.light.visible-md-block.visible-lg-block Guake
                    | Terminal
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li.hidden.active
                    a(href='#page-top') Home
                li.page-scroll
                    a(href='#info1') Info
                li.page-scroll
                    a(href='#info2') Discover
                li.page-scroll
                    a(href='#info3') Get Guake
                li.page-scroll
                    a(href='#screenshots') Screenshots
                li.page-scroll
                    a(href='#sources') Source code
