nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .container
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
                i.fa.fa-bars
            a.navbar-brand(href='#page-top')
                i.fa.fa-desktop
                span.light.visible-md-inline.visible-lg-inline
                    | Guake Terminal
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
            ul.nav.navbar-nav
                li.hidden.active
                    a(href='#page-top') Home
                li.page-scroll
                    a(href='#what-hook') Info
                li.page-scroll
                    a(href='#firstlook-hook') First Look
                li.page-scroll
                    a(href='#more-hook') Features
                li.page-scroll
                    a(href='#get-hook') Get Guake
                li.page-scroll
                    a(href='#screenshots-hook') Screenshots
                li.page-scroll
                    a(href='#sources-hook') Source code
