!!!

html(ng-app="guakeTerminal")
    head
        block head

            meta(charset='utf8')

            title Guake Terminal

            link(rel='stylesheet', href='css/guakeTerminal.css')

            script(src='bower/angular/angular.js')
            script(src='js/guakeTerminal.js')


        block body

            body(ng-controller="AppCtrl")

                block header

                    include ../includes/header

                block content

                block footer

                    include ../includes/footer