doctype

html(ng-app="guake")
    head
        block head

            meta(charset='utf8')

            title Guake Terminal

            // fonts
            link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
            link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
            link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')

            link(rel='stylesheet', href='css/guake.css')

            # Bootstap library
            script(src='bower/bootstrap/dist/js/bootstrap.js')
            script(src='bower/jquery/dist/jquery.js')
            script(src='bower/jquery.easing/js/jquery.easing.js')
            script(src='bower/jquery-scrolldeck/js/jquery.scrollTo-1.4.3.1.min.js')
            script(src='bower/jquery-scrolldeck/decks/parallax/scripts/jquery.parallax-1.1.js')
            script(src='bower/jquery-scrolldeck/js/jquery.scrollorama.js')
            script(src='bower/jquery-scrolldeck/js/jquery.scrolldeck.js')

        block body

            body(id="page-top", data-target=".navbar-custom")

                block header

                    include ../includes/header

                block content

                block footer

                    include ../includes/footer

                script(src='js/guake.js')
